<main>
    <h1>Profile</h1>
    <section class="data">
        <div class="box">
            <label class="label">Name</label>
            <span class="value">{{user.first_name}}</span>
        </div>
        <div class="box">
            <label class="label">Surname</label>
            <span class="value">{{user.last_name}}</span>
        </div>
        <div class="box">
            <label class="label">Email</label>
            <span class="value">{{user.email}}</span>
        </div>
        <div class="box">
            <label class="label">Role</label>
            <span class="value">{{user.role}}</span>
        </div>
        <a href="/auth/logout" class="button">Log Out</a>
    </section>
</main>