<main>
    <h1>Sign Up</h1>
    <form id="form" class="form">
        <div class="box">
            <label for="" class="label">Name</label>
            <input type="text" name="first_name" class="input"/>
        </div>
        <div class="box">
            <label for="" class="label">Surname</label>
            <input type="text" name="last_name" class="input"/>
        </div>
        <div class="box">
            <label for="" class="label">Age</label>
            <input type="number" name="age" class="input"/>
        </div>
        <div class="box">
            <label for="" class="label">Email</label>
            <input type="email" name="email" class="input"/>
        </div>
        <div class="box">
            <label for="" class="label">Password</label>
            <input type="password" name="password" class="input"/>
        </div>
        <button type="submit" class="button">Sign Up</button>
        <a href="/login" class="button">Log In</a>
    </form>
</main>

<script src="/js/signup.js"></script>