<main>
    <h1>Log In failed</h1>
    <div class="form">
        <a href="/login" class="button">Log In</a>
        <a href="/signup" class="button">Sign Up</a>
        <a href="/recover-password" class="button">Recover password</a>
    </div>
</main>