<main>
    <h1>Recover password</h1>
    <form id="form" class="form">
        <div class="box">
            <label for="" class="label">Email</label>
            <input type="email" name="email" class="input"/>
        </div>
        <div class="box">
            <label for="" class="label">Password</label>
            <input type="password" name="password" class="input"/>
        </div>
        <button type="submit" class="button">Update password</button>
        <a href="/login" class="button">Log In</a>
        <a href="/signup" class="button">Sign Up</a>
    </form>
</main>

<script src="/js/recoverPassword.js"></script>