main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 48px;
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    width: 100%;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.label{
    color: #f9f9f9;
    font-size: 16px;
    font-weight: bold;
}

.input{
    all: unset;
    background-color: #f9f9f950;
    color: #f9f9f9;
    padding: 4px 8px;
    width: 100%;
}

.button{
    all: unset;
    background-color: #00000050;
    color: #f9f9f9;
    text-align: center;
    padding: 4px 8px;
    cursor: pointer;
    width: 100%;
}