#main{
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    padding: 48px;
    max-width: 1200px;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2px;
    width: 100%;
}

h1{
    font-size: 48px;
    color: #1a1a1a;
}

#products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
    width: 100%;
}

.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 0 15px #00000015;
    margin: 0 auto;
}

.product-image{
    min-width: 200px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
}

.product-id{
    color: #9f9f9f;
    font-size: 12px;
}

.product-title{
    color: #1a1a1a;
    font-size: 24px;
    font-weight: bold;
}

.product-category{
    color: #9f9f9f;
    background-color: #efefef;
    padding: 4px 12px;
    max-width: fit-content;
    border-radius: 999px;
    font-size: 12px;
    font-weight: bold;
}

.product-description{
    color: #6a6a6a;
    font-size: 14px;
}

.product-price{
    text-align: end;
    color: #22a46a;
    font-size: 16px;
    font-weight: bold;
}

.current-page{
    color: #1a1a1a;
    width: fit-content;
}

.link{
    color: #1a1a1a;
    width: fit-content;
}

.link:hover{
    color: #6f6f6f;
}

.primary-button{
    all: unset;
    background-color: #06f;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 400px){
    #main{
        padding: 24px 16px;
    }

    #products{
        grid-template-columns: 1fr;
    }

    .product-card{
        max-width: 250px;
    }

    .product-image{
        max-width: 200px;
        max-height: 200px;
    }
}