<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/{{style}}"/>
    <title>{{title}}</title>
    <link rel="icon" href="https://icones.pro/wp-content/uploads/2021/04/icone-cercle-rempli-noir.png"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://unpkg.com/phosphor-icons"></script>
    <style>
        *{
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
            font-family: sans-serif;
        }

        body{
            overflow-x: hidden;
        }

        #wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: 100vw;
            width: 100%;
            min-height: 100vh;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        {{{body}}}
    </div>
</body>
</html>